.SkillsCard {
  background-color: white;
  padding: 36px 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  border-left: 3px solid #D55672;
  box-shadow: 0 10px 8px #ebe7e7;
  transition: all 300ms ease-in-out;
}