.MainHeader {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.MainMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.DesktopOnly {
    display: none;
}

.MenuToggle {
    font-size: 24px;
}

.Logo{
    width: 128px;
    display: flex;
    justify-content: center;
}

.Logo img {
    width: 100%;
}

@media(min-width: 576px) {
    .DesktopOnly {
        display: block;
    }

    .MenuToggle {
        display: none;
    }
}